[build]
  base = "."          # root karena package.json di sini
  publish = "dist"    # hasil vite build
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200